streamlit
pdfplumber
docx2txt
pandas
altair
numpy 
fpdf
spacy
scikit-learn    
matplotlib
seaborn
en_core_web_md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.8.0/en_core_web_md-3.8.0-py3-none-any.whl
